* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffe2db;
  color: #fff;
}

header {
  background: #5c0a0a;
  padding: 20px 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #5c0a0a, #7a1919);
  margin: 60px auto;
  width: 80%;
  border-radius: 10px;
  padding: 60px;
}

.hero .content {
  flex: 1;
  color: #fff;
}

.hero .content span {
  color: #ffb84d;
  font-weight: 600;
}

.hero h1 {
  font-size: 2.2rem;
  margin: 20px 0;
}

.hero p {
  font-size: 1rem;
  color: #f3dede;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn.primary {
  background: #ffb84d;
  color: #5c0a0a;
}

.btn.secondary {
  border: 2px solid #fff;
  color: #fff;
}

.btn:hover {
  transform: scale(1.05);
}

.hero .image img {
  width: 320px;
  height: auto;
}