*{
    margin: 0;
    padding: 0;

}
:root{
    --primary-color:white;
    --secondary-color:black;
}
.hero{
    width: 100vh;
    height: 100%;
    background:var(--primary-color) ;
    font-family: sans-serif;
    position: relative;
    display: flex;

}
nav ul{
    flex: 1;
    text-align: right;

}
nav{
    width: 84%;
    margin: auto;
    padding: 20px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    font-size: larger;

}
.logo{
    width: 100px;
    cursor: pointer;
    color: rgb(180, 74, 36);
    font-size: 50px;

}
nav ul li{
    display: flex;
    list-style: none;
    margin: 20px 15px;
    text-decoration: none;
    color: var(--secondary-color);

}
nav ul li:hover{
    color: rgb(180, 74, 36);

}
.info{
    margin-left: 5%;
    margin-top: 8%;

}
.info h1{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;

}
span{
    color: rgb(180, 74, 36);

}
.info p{
    color: var(--secondary-color);
    line-height: 22px;

}
.info a{
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px;
}
.info a:hover{
     color: rgb(180, 74, 36);

}